
.my-map {
  float: right;
  position: relative;
  z-index: 10;
  opacity: 80%;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 60%;
  z-index: -1;
}

nav {
  background-color: #b642f5;
  opacity: 80%;
  z-index: 20;
}

.navitems {
  float: right;
  list-style: none;
  position: relative;
  background-color: tomato;
  box-shadow: 3px 3px 3px 3px tomato;
  margin-right: 20px;
  right: 25%;
  z-index: 20;
}

.mynav {
  background-color: black;
  opacity: 50%;
  z-index: 20;
}

.navbrand {
  color: white;
  font-weight: bold;
}

.navbutton {
  background-color: skyblue;
  z-index: 20;
}

.my-lottie {
  position: relative;
  width: 100%;
}